.wedgits {
    posotion : stick;
    top : 80px;
    flex : 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px;
}

.wedgits_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.wedgits_header h2 {
    font-size: 16px;
    font-weight: 400;
}

.wedgits_article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.wedgits_article :hover {
    background-color: whitesmoke;
}
.wedgits_leftArticle {
    color: blue;
    margin: 5px;
}

.wedgits_leftArticle > .MuiSvgIcon-root {
    font-size: 15px;
}
.wedgits_rightArticle {
    flex: 1;
}
.wedgits_rightArticle > h4 {
font-size: 12px;
}
.wedgits_rightArticle > p {
font-size: 12px;
color: gray;
}